{% extends 'layouts/master.html.twig' %}

{% block content %}
    {% include 'layouts/navbar.html.twig' %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 well well-lg">
    	<h1> DESABILITAR USUÁRIOS </h1>
        <form method="POST">
        <table>
        
  
        {% for user in Enabled %}
        <tr>
        	<td><input type="checkbox" name="disable[]" value="{{user.id}}"></td>
        	<td>{{user.id}}</td>
        	<td>{{user.name}}</td>
            <td>HABILITADO</td> 
        </tr>
        {% endfor %}

        {% for user in Disabled %}
        <tr>
        	<td><input type="checkbox" name="enable[]" value="{{user.id}}"></td>
        	<td>{{user.id}}</td>
        	<td>{{user.name}}</td>
            <td>BANIDO</td> 
        </tr>
        {% endfor %}

        </table>
        <input type="submit">
        </form>
        {% if warning_message != '' %}
            <div class="panel panel-warning">
                <div class="panel-heading">{{warning_message}}</div>
            </div>
        {% endif %}
    </div>
    <div class="col-md-4"></div>
    </div>
{% endblock %}